@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Pacifico&family=Quicksand&family=Roboto:wght@500&family=Secular+One&display=swap");

.App {
  text-align: center;
  font-family: "Carter One", cursive;
}
.review-button {
  font-family: "Carter One", cursive;
  font-size: large;
  background-color: rgb(37, 2, 57);
  color: white;
  padding: 20px;
  border-radius: 5pt;
  margin-top: 20px;
}

.review-card {
  list-style: none;
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgb(244, 232, 254);
  border-radius: 1ch;
  margin-left: auto;
  margin-right: auto;
}

.review-info {
  font-family: "Carter One", cursive;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  border-bottom: double;
  border-top: 1px solid grey;
  border-top: double;
  color: rgb(32, 10, 54);
}
.review_img {
  max-width: 50%;
  height: auto;
}
.review {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  height: 10%;
  background-color: rgb(248, 228, 116);
  padding: 30px;
  border-radius: 10pt;
  border: #282c34 solid 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.grid-item {
  box-sizing: border-box;
  width: 100%;
  border: solid #5b6dcd 10px;
  padding: 5px;
  display: block;
}
.profile_avatar {
  border-style: solid;
  border: 5%;
  border-color: black;
  position: absolute;
  overflow: hidden;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.category-card {
  list-style: none;
  width: 250px;
  height: 250px;
  position: relative;
  box-shadow: inset;
}

.category-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  margin: 50px;
}

.category-details {
  text-decoration-color: black;
  font-family: "Carter One", cursive;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 100;
  transition: 0.5s ease;
  background-color: rgb(146, 248, 149);
}

.vote_button {
  font-size: 250%;
  text-align: center;
  border: solid 1px black;
  background-color: rgb(241, 163, 28);
  margin: 1%;
  width: 50px;
}
